.avatar {
  display: inline-block;
  border: 0;
  overflow: hidden;
  object-fit: cover;
}

@mixin avatar-size($size) {
  height: $size;
  width: $size;
}

.avatar-4 {
  @include avatar-size(28px);
}

.avatar--circle {
  border-radius: 50%;
}
