<main class="min-h-screen flex justify-center bg-gray p-responsive">
  <div class="w-full py-9">
    <h1 class="h1 text-center mb-3"><%= title %></h1>
    <div class="max-w-sm w-full mx-auto">
      <div class="box box--spacious">
        <%= yield %>
      </div>
      <div class="mt-3">
        <%= content_for :footer %>
      </div>
    </div>
  </div>
</main>
