<div class="box bg-gray">
  <div class="box-row">
    <h5 class="h5">Delete all posts</h5>
    <p class="text-gray mt-1">Are you absolutely sure that you want to delete all of yours posts? This action cannot be undone.</p>
    <div class="mt-3">
      <button type="button" class="btn btn-outline btn-danger">Delete all posts</button>
    </div>
  </div>
  <div class="box-row">
    <h5 class="h5">Delete project</h5>
    <p class="text-gray mt-1">
      Deleting your project means that it will delete all of your project’s labels, posts, stop your subscription, and remove all the team members.
    </p>
    <div class="mt-3">
      <button type="button" class="btn btn-outline btn-danger">Delete project</button>
    </div>
  </div>
</div>

