<form class="max-w-md">
  <div class="form-group">
    <label for="">Feed title</label>
    <select name="" id="" class="form-control form-select">
      <option value="">Announcement</option>
      <option value="">Post</option>
      <option value="">Feed</option>
      <option value="">Changelog</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Website URL</label>
    <input type="text" class="form-control" name="" id="" value="">
    <p class="note">Your website URL will be linked in the feed’s <a href="#">home page</a>.</p>
  </div>
  <div class="form-group">
    <label for="">Brand color</label>
    <input type="text" class="form-control" name="" id="" value="">
  </div>
  <div class="form-group form-checkbox">
    <input type="checkbox" name="" id="" value="">
    <label for="">Show author information</label>
    <p class="note">Disabling this will hide the post author’s information globally. </p>
  </div>
  <div class="form-group form-checkbox">
    <input type="checkbox" name="" id="" value="">
    <label for="">Hide water-mark</label>
    <p class="note">Enabling this will hide the water-mark from the feed’s widget.</p>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>

