.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: $text-gray;
  vertical-align: middle;
  background: transparent;
  border: 0;

  &:hover {
    color: $text-gray-dark;
  }

  &:focus:not([data-focus-visible-added]) {
    outline: none;
  }
}

.btn-link {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  color: $text-indigo;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border: 0;
  appearance: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus:not([data-focus-visible-added]) {
    outline: none;
  }
}
