.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: $text-gray;
  vertical-align: middle;
  background: transparent;
  border: 0;

  &:hover {
    color: $text-gray-dark;
  }

  &:focus:not([data-focus-visible-added]) {
    outline: none;
  }
}
