// Background
.bg-gray {
  background-color: $bg-gray !important;
}

// Typography
.text-gray {
  color: $text-gray !important;
}

.link-gray {
  color: $text-gray !important;

  &:hover {
    color: $text-indigo !important;
  }
}
