$justify-contents: (
  center: center,
  between: space-between,
);

@each $breakpoint in map-keys($breakpoints) {
  $bp-sort: breakpoint-infix($breakpoint);

  @include breakpoint($breakpoint) {
    @each $prop, $value in $justify-contents {
      .#{$bp-sort}justify-#{$prop} {
        justify-content: $value !important;
      }
    }
  }
}

$align-items: (
  center: center,
);

@each $breakpoint in map-keys($breakpoints) {
  $bp-sort: breakpoint-infix($breakpoint);

  @include breakpoint($breakpoint) {
    @each $prop, $value in $align-items {
      .#{$bp-sort}items-#{$prop} {
        align-items: $value !important;
      }
    }
  }
}

.flex-1 {
  flex: 1 1 0% !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}
