// Heights
.min-h-screen {
  min-height: 100vh !important;
}

.h-screen {
  height: 100vh !important;
}

// Widths
.max-w-sm {
  max-width: 24rem !important;
}

.max-w-md {
  max-width: 416px !important;
}

.max-w-lg {
  max-width: 1024px !important;
}

.w-full {
  width: 100% !important;
}

// Border
.border-b-0 {
  border-bottom: 0 !important;
}

// Overflow
.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}
