// Heights
.min-h-screen {
  min-height: 100vh !important;
}

// Widths
.max-w-sm {
  max-width: 24rem !important;
}

.max-w-lg {
  max-width: 1024px !important;
}

.w-full {
  width: 100% !important;
}

