// Font sizes for references: found in ../support/variables/_typography

// $h00-size-mobile: 40px;
// $h0-size-mobile: 32px;
// $h1-size-mobile: 26px;
// $h2-size-mobile: 22px;
// $h3-size-mobile: 18px;
// $h00-size: 48px;
// $h0-size: 40px;
// $h1-size: 32px;
// $h2-size: 24px;
// $h3-size: 20px;
// $h4-size: 16px;
// $h5-size: 14px;
// $h6-size: 12px;

.h1 {
  font-size: $h1-size-mobile !important;
  line-height: $lh-condensed !important;

  @include breakpoint(md) {
    font-size: $h1-size !important;
    line-height: $lh-default !important;
  }
}

.h2 {
  font-size: $h2-size-mobile !important;
  line-height: $lh-condensed !important;

  @include breakpoint(md) {
    font-size: $h2-size !important;
    line-height: $lh-default !important;
  }
}

// .h3 {
//   font-size: $h3-size-mobile !important;

//   @include breakpoint(md) {
//     font-size: $h3-size !important;
//   }
// }

.h4 {
  font-size: $h4-size !important;
}

.h5 {
  font-size: $h5-size !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $font-weight-medium !important;
}

// Alignment
.text-center {
  text-align: center !important;
}

// Truncate
.truncate {
  @include truncate;
}
