// Typography
$text-gray: $gray-600;
$text-gray-dark: $gray-900;
$text-indigo: $indigo-500;

// Placeholder
$placeholder-color: $gray-400;

// Border
$border-gray: $gray-200;
$border-indigo: $indigo-500;
