// Typography
$text-gray: $gray-600;
$text-gray-dark: $gray-900;
$text-indigo: $indigo-500;
$text-red: $red-600;
$text-red-dark: $red-700;
$text-green-dark: $green-700;

// Background
$bg-gray: $gray-100;
$bg-indigo: $indigo-500;
$bg-green: $green-100;
$bg-red: $red-100;

// Placeholder
$placeholder-color: $gray-400;

// Border
$border-gray: $gray-200;
$border-blue: $blue-500;
$border-red-light: $red-300;
$border-red: $red-600;
$border-green-light: $green-300;
