// Defaults
$white: #fff;

// Gray
$gray-100: #f7fafc;
$gray-200: #e1e4e8;
$gray-400: #9ca3af;
$gray-500: #6a737d;
$gray-600: #586069;
$gray-700: #444d56;
$gray-900: #111827;

// Indigo
$indigo-500: #5469d4;
$indigo-600: #4f46e5;

// Blue
$blue-500: #0366d6;

// Red
$red-100: #FEE2E2;
$red-300: #FCA5A5;
$red-500: #D73A49;
$red-600: #cb2431;
$red-700: #B91C1C;

// Green
$green-100: #DCFCE7;
$green-300: #86EFAC;
$green-500: #00CC63;
$green-700: #15803D;
