// Defaults
$white: #fff;

// Gray
$gray-100: #f7fafc;
$gray-200: #e1e4e8;
$gray-400: #9ca3af;
$gray-600: #586069;
$gray-900: #111827;

// Indigo
$indigo-500: #5469d4;
$indigo-600: #4f46e5;

// Blue
$blue-500: #0366d6;
