// Body font
$body-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
$body-font-size: 14px;
$body-font-color: $text-gray-dark;

// Font weight
$font-weight-medium: 500;
