<header class="header p-responsive">
  <div class="flex items-center flex-1">
    <button data-action="sidebar#openSidebar" type="button" class="btn-icon lg:hidden">
      <%= octicon "three-bars", fill: "currentColor" %>
    </button>
    <div class="input-group ml-2 lg:ml-0">
      <input type="text" class="input-bland" aria-label="Search for your projects" placeholder="Search for your projects...">
      <div class="input-icon">
        <%= octicon "search", fill: "currentColor" %>
      </div>
    </div>
  </div>
  <div class="flex-shrink-0">
    <button type="button" class="btn-icon">
      <%= octicon "plus", fill: "currentColor" %>
    </button>
    <button type="button" class="btn-icon">
      <img class="avatar avatar-4 avatar--circle" src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=144&&h=144q=80" alt="">
    </button>
  </div>
</header>
