<header class="header p-responsive">
  <div class="flex-1">
    <div class="input-group">
      <input type="text" class="input-bland" placeholder="Search for your projects...">
      <div class="input-icon">
        <%= octicon "search", fill: "currentColor" %>
      </div>
    </div>
  </div>
  <div>
    <button type="button" class="btn-icon">
      <%= octicon "plus", fill: "currentColor" %>
    </button>
    <button type="button" class="btn-icon">
      <%= octicon "person", fill: "currentColor" %>
    </button>
  </div>
</header>
