.form-group {
  &:not(:first-of-type) {
    margin-top: 16px;
  }

  label {
    margin-bottom: 4px;
    display: inline-block;
  }
}

.note {
  margin-top: 4px;
  font-size: $h6-size;
  color: $text-gray;
}
