.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  background-color: $white;
  border-bottom: $border;
  position: sticky;
  top: 0;
  z-index: z(header);

  .btn-icon {
    height: $header-height;
  }

  .input-bland {
    max-width: 24rem;
    width: 100%;
  }
}
